/* ESTILIZAÇÃO GERAL ------------------------------------------------------- */
@import url('./global-styles.css');


/* CARROSSEL --------------------------------------------------------------- */
.spotlight {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

/* Textos do carrossel */
.spotlight-label {
    text-align: left;
    font-size: 16px;
}

.spotlight-news-title {
    text-align: left;
    font-size: 25px;
}

/* Gradiente do carrossel */
.position-relative {
    position: relative;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8016456582633054) 0%, rgba(124,124,124,0.2806372549019608) 57%, rgba(255,255,255,0) 100%);
}


/* NOTÍCIAS DO MUNDO ----------------------------------------------------------- */
.custom-card {
    max-width: 200px;
    margin: 10px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-link {
    text-decoration: none;
    color: #000;
    transition: transform 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    height: 200px;
}

.card {
    text-decoration: none;
    color: #000;
    transition: transform 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.card-link:hover .card:hover {
    transform: scale(1.02);
    color: #eb7358;
    background: transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.custom-card img {
    max-height: 200px;
    object-fit: cover;
}

#news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 120px;
    flex: 1 1 calc(33.33% - 15px);
}

/* MEUS ARTIGOS ----------------------------------------------------------- */

/* Remover fundo e bordas dos botões */
.carousel-control-prev, .carousel-control-next {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

/* MAIS RECENTES ----------------------------------------------------------- */

.latest-article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.latest-article {
    width: 60%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

.latest-article h4 {
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

.trending-list {
    width: 35%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

/* OUTROS ----------------------------------------------------------- */

hr {
    height: 3px;
    background-color: #001f3f;
}