/* ESTILIZAÇÃO GERAL ------------------------------------------------------- */
@import url('./global-styles.css');

h1, h2 {
    margin: 0;
}

.hidden {
    display: none;
}

#main_div {
    margin-top: 47px;
    margin-bottom: 55px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* TÍTULOS DA PÁGINA ------------------------------------------------------- */
#title_box {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#page_title {
    font-size: 40px;
    font-weight: 600;
    color: #384b70;
}

#page_subtitle {
    font-size: 22px;
    margin-top: -20px;
    color: #384b70;
}


/* CONTAINER DO FORMULÁRIO ------------------------------------------------- */
#container {
    margin-top: 40px;
    background-color: #f2f2f2;
    width: 550px;
    height: 470px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

#container_title {
    margin-top: 42px;
    font-size: 14px;
    color: #384b70;
}


/* CHECKBOX DE CATEGORIA --------------------------------------------------- */
#aba1_checkbox {
    display: flex;
    flex-direction: column;
    margin-top: 66px;
    font-size: 18px;
    font-weight: bolder;
    color: #384b70;
}

#aba1_checkbox label {
    display: flex;
    align-items: center;
}

#check_1 {
    margin-bottom: 24.7px;
}


#aba1_checkbox input[type="radio"] {
    margin-right: 15px;
    margin-left: 25%;
    border-radius: 50px;
    opacity: 0;
    position: absolute;
}

#aba1_checkbox label::before {
    content: "";
    position: relative;
    width: 11px;
    height: 11px;
    border: 3px solid #384b70;
    background-color: #384b70;
    border-radius: 100%;
    margin-left: 30%;
    margin-bottom: -20px;
    cursor: pointer;
    transition: background-color 0.1s, border-color 0.1s;
}

#aba1_checkbox input[type="radio"]:checked + label::before {
    border: 3px solid #384b70;
    background-color: #fff;
}

#aba1_checkbox label {
    font-size: 18px;
    color: #384b70;
}

#button0 {
    margin-top: 31px;
    margin-bottom: 25px;
    width: 450px;
    height: 43px;
    border-radius: 50px;
    border-style: none;
    background-color: #384b70;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.4s, border-color 0.4s;
}

#button1 {
    margin-top: 53px;
    margin-bottom: 25px;
    margin-right: 40px;
    width: 195px;
    height: 43px;
    border-radius: 50px;
    border-style: solid;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.4s, border-color 0.4s;
}

#button2 {
    margin-bottom: 25px;
    width: 195px;
    height: 43px;
    border-radius: 50px;
    border-style: none;
    background-color: #384b70;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.4s, border-color 0.4s;
}

#button0:hover, #button2:hover {
    background-color: #fff;
    border-style: solid;
    border-color: #384b70;
    color: #384b70;
    transition: background-color 0.4s, border-color 0.4s;
}

#button1:hover {
    background-color: #384b70;
    border-style: none;
    color: #fff;
    transition: background-color 0.4s, border-color 0.4s;
}

#indicator1 {
    width: 35px;
    height: 11px;
    border-radius: 50px;
    border-style: none;
    background-color: #384b70;
    padding: 2px;
}

#indicator0 {
    width: 30px;
    height: 9.5px;
    border-radius: 50px;
    border-style: none;
    background-color: #384b70;
    opacity: 60%;
}

#inputs_area, #text_area {
    margin-top: 45px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title, #author {
    height: 40px;
    width: 450px;
    border-radius: 50px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #000;
    padding-left: 15px;
    padding-right: 15px;
}

#text_label, #author_label, #file_label {
    align-self: flex-start;
    margin-bottom: 13px;
    font-size: 17px;
    color: #384b70;
    font-weight: 600;
}

#author_label {
    margin-top: 35px;
}

#file_label {
    margin-bottom: 13px;
    margin-top: 41px;
}

#text_space {
    height: 148px;
    width: 450px;
    border-radius: 20px;
    border-width: 1.5px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*
input[type='file'] {
    display: none;
}

*/
#file_area {
    width: 450px;
    height: 148px;
    margin-top: 4px;
    background-color: #fff;
    border-radius: 20px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #000;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
}

#plus_icon {
    display: flex;
    font-size: 90px;
    color: #384b70;
    align-self: center;
    opacity: 0.85;
    cursor: pointer;
}

