.title{
  text-align: left;
  width: 70%;
}
.image{
   text-align:center;
}
.text {
    width: 66%;         
    margin: 0 auto;     
    padding: 10px;      
    font-size: 18px; 
    line-height: 1.8; 
    text-align: justify; 
    margin-bottom: 20px;
}
#coment{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}
.comment-div {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment-div h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    margin-bottom: 15px;
}

button {
    background-color: #0044cc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #003399;
}

.login-options {
    margin: 20px 0;
    text-align: center;
}

form {
    margin-top: 20px;
}

form input {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

form label {
    font-size: 14px;
    color: #666;
    display: block;
    margin: 10px 0;
}

ul.box-redes-sociais {
  
    display: flex;
    background: transparent;
    width: 305px;
    float: none;
    margin: auto;
  
  }
  
ul.box-redes-sociais li {
    list-style: none;
    margin: auto;
  }
  
  
ul.box-redes-sociais li a {
    
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 22px;
    margin: 0 5px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid #eaeaea;
    z-index: 1;
  
  }
  
ul.box-redes-sociais li a .icon {
    position: relative;
    color: #262626;
    transition: .3s;
    z-index: 3;
  }
  
ul.box-redes-sociais li a:hover .icon {
    color: #fff;
    scale: 1.2;
  }
  
ul.box-redes-sociais li a:before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .6s;
    z-index: 2;
  }
  
ul.box-redes-sociais li a:hover:before {
    top: 0;
  }
  
ul.box-redes-sociais li.facebook a:before{
    background: #3b5999;
  }
  
ul.box-redes-sociais li.instagram a:before{
    background:hsl(0 0% 10%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
  
ul.box-redes-sociais li.twitter a:before{
    background: #55acee;
  }
  
ul.box-redes-sociais li.pinterest a:before {
    background: #dc2933;
  }
  
ul.box-redes-sociais li.youtube a:before {
    background: #ff1d15;
  }