/* ESTILIZAÇÃO GERAL ------------------------------------------------------- */
@import url('./global-styles.css');


/* BOTÕES DE EDITAR E EXCLUIR NOTÍCIA -------------------------------------- */
#buttons-container {
    position: absolute;
    top: 210px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background-color: #508c9b;
    color: #fff;
    gap: 12px;
}

.edit-button, .delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #6fa8b7;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover, .delete-button:hover {
    background-color: #508c9b;
}

.edit-button i, .delete-button i {
    font-size: 16px;
    margin-bottom: 5px;
}

.button-text {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}


/* TÍTULO DA NOTÍCIA ------------------------------------------------------- */
.user-news-title{
    text-align: center;
    margin-block: 70px;
    font-size: 28px;
    margin-inline: 50px;
}


/* IMAGEM DA NOTÍCIA ------------------------------------------------------- */
#image-container {
    display: flex;
    justify-content: center;
}

.user-news-image{
    margin-bottom: 70px;
    width: 800px;
    height: 450px;
}


/* CORPO DA NOTÍCIA -------------------------------------------------------- */
#user-news-body {
    width: 65%;         
    margin: 0 auto;           
    font-size: 18px; 
    line-height: 2;  
    margin-bottom: 70px;
}