* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}


/* HEADER ------------------------------------------------------------------ */
header {
    background-color: #001f3f;
}

header a {
    text-decoration: none;
    color: #fff;
}

/* LINHA DE CIMA DA HEADER */
#header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0 50px;
}

/* Logo */
#logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#logo-img {
    width: 150px;
}

#logo-text {
    font-family: 'Urbanist', sans-serif;
    color: #eb7358;
    font-weight: bold;
    font-size: 24px;
    margin-left: 7px;
}

#logo-link {
    text-decoration: none;
}

/* Barra de pesquisa */
#searchbar-container {
    position: relative;
}

.search-bar {
    width: 500px;
    border: none;
    border-radius: 50px;
    height: 40px;
    font-style: italic;
    padding-left: 15px;
}

#search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #737373;
    cursor: pointer;
    font-size: 16px;
}

/* Conta logada */
#username {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    line-height: 50px;
    margin-right: 15px;
    text-decoration: none;
    cursor: default;
    color: #fff;
}

/* Conta deslogada */
#login-text {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    margin-right: 15px;
    text-decoration: none;
    transition: transform 0.25s ease;
}

#login-text:hover {
    transform: scale(1.15);
    transition: transform 0.25s ease;
    color: #eb7358;
}

/* Ícone de perfil */
#user-icon {
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 15px;
}

/* LINHA DE BAIXO DA HEADER */
#header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 20px;
}

/* Botões de navegação */
.navigation-tabs {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.nav-button {
    padding: 0;
    margin: 0;
    transition: transform 0.4s ease;
}

.nav-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 15px 50px;
    color: #fff;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.nav-button.active {
    border-bottom: 4px solid #eb7358;
}

.nav-button a.active {
    font-weight: bold;
}

.nav-button:hover {
    border-bottom: 4px solid #508c9b;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

.nav-button:hover a {
    font-weight: bold;
    text-decoration: none;
    color: #eb7358;
}

/* Estilo do menu hambúrguer (aberto) */
#hamburger-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #001f3f;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: right 0.2s ease-in-out;
}

#hamburger-menu ul {
    list-style: none;
    padding: 20px;
    margin-top: 50px;
}

#hamburger-menu ul li {
    margin-bottom: 10px;
}

#hamburger-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 5px;
}

#hamburger-menu ul li a:hover {
    color: #eb7358;
}

#hamburger-menu-items {
    margin-top: 80px;
}

/* Ícone do menu hamburguer */
#hamburger-menu-icon, #x-menu-icon {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 25px;
    z-index: 2000;
    transition: transform 0.25s ease;
}



/* Efeito de hover no ícone do menu */
#hamburger-menu-icon:hover, #x-menu-icon:hover {
    color: #eb7358;
    transform: scale(1.15);
    transition: transform 0.25s ease;
}


/* FOOTER ------------------------------------------------------------------ */
footer {
    background-color: #001f3f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer-titles {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 0 90px;
}

.footer-title {
    font-size: 25px;
    font-weight: bold;
}

#footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* SEÇÃO DE INFORMAÇÕES SOBRE A PLATAFORMA */
#more-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-left: 50px;
    margin-top: -50px;
}

#about-title, #contact-title {
    text-align: left;
}

/* Descrição do projeto */
#about-container {
    margin-right: 50px;
    margin-left: 20px;
}

#about-text {
    width: 250px;
    text-align: justify;
    font-size: 12px;
    margin-top: 5px;
}

/* Contato e redes sociais */
#contact-container a {
    text-decoration: none;
    color: #fff;
}

.contact-icons {
    font-size: 32px;
    cursor: pointer;
    margin: 10px 3px;
}

/* SEÇÃO DE NEWSLETTER */
#newsletter-container {
    width: 300px;
    position: relative;
    margin-right: 150px;
    margin-top: -35px;
}

#newsletter-text {
    text-align: right;
    width: 350px;
    font-size: 14px;
    padding-bottom: 20px;
    padding-right: 5px;
}

/* Input de e-mail para inscrição na mail list */
.input-icon-wrapper {
    position: relative;
    width: fit-content;
}

#mail-list-bar {
    width: 350px;
    border: none;
    border-radius: 50px;
    height: 40px;
    font-style: italic;
    padding-left: 15px;
    padding-right: 40px;
}

#mail-icon {
    font-size: 18px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #737373;
    cursor: pointer;
}

footer hr {
    background-color: #fff;
    height: 1px;
    border: none;
}

/* Botão de voltar ao topo */
#back-to-top-button {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#back-to-top-button:hover {
    text-decoration: underline;
}

/* Copyright */
#copyright-text {
    margin-top: 20px;
    font-size: 12px;
}


/* DIVERSOS ---------------------------------------------------------------- */

/* Botão comum tipo 1*/
.button-1 {
    border: none;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 5px 35px;
    background-color: #508c9b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.button-1:hover {
    background-color: #477c88;
}

.button-1:active {
    background-color: #508c9b;
    transform: scale(0.98);
}

/* HR (linha horizontal) azul */
.hr-blue {
    background-color: #001f3f;
    height: 1.5px;
    border: none;
}

/* Cor para cada seção nos títulos */
.title-topic-color {
    color: #001f3f;
}

/* SEÇÃO LATEST */
/* Título de seção Latest (mais recente) */
.latest-div-title {
    font-size: 28px;
    font-weight: 500;
}

/* SEÇÃO TRENDING */
/* Título de seção Trending (em alta) */
.trending-div-title {
    font-size: 22px;
    font-weight: 500;
}