/* ESTILIZAÇÃO GERAL ------------------------------------------------------- */
@import url('./global-styles.css');

/* MAIS RECENTES ----------------------------------------------------------- */
.latest, .trending-topics {
    padding: 20px;
    margin: 20px;
}

.latest h3, .trending-topics h3 {
    font-size: 1.5em;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.latest-content, .trending-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.latest-article {
    width: 60%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

.latest-article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.latest-article h4 {
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

.trending-list {
    width: 35%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

.trending-list ul {
    list-style: none;
    padding: 0;
}

.trending-list li {
    margin: 10px 0;
    font-size: 1em;
}

.trending-list a {
    text-decoration: none;
    color: #333;
}

.trending-list a:hover {
    color: #007acc;
}


/* CARDS CUSTOMIZADOS ----------------------------------------------------------- */

.custom-card {
    max-width: 200px;
    margin: 10px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-link {
    text-decoration: none;
    color: #000;
    transition: transform 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    height: 200px;
}

.card {
    text-decoration: none;
    color: #000;
    transition: transform 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.card-link:hover .card:hover {
    transform: scale(1.02);
    color: #eb7358;
    background: transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.custom-card img {
    max-height: 200px;
    object-fit: cover;
}

#news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 120px;
    flex: 1 1 calc(33.33% - 15px);
}