* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robot';
}

.everything {
    display: flex;
    height: 100vh;
}

.leftside   {
    display: flex;
    flex: 1;
    background-image: url(login_background.jpg);
    background-size: cover;
    background-position: center;
}

.rightside  {
    display: flex;
    flex: 1;
    background-color: #384b70;
    justify-content: center;
    align-items: center;

}

.form-box   {
    width: 50%;
    height: 550px;
    display: flex;
    background-color: #001f3f;
    border-radius: 30px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle {
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.icone  {
    width: 10%;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;

}

.label-text {
    color: white;
    font-size: 16px;
    font-weight: bold;
    
}

.input-text {
    width: 300px;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
}

.botao button  {
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #508c9b;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
    padding: 20px;
}

#button-text   {
    font-size: 16px;
    background-color: #508c9b;
    border: 3px solid #508c9b;

}

