<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/09-create-style.css">
    <link rel="stylesheet" href="../css/09-create-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sofia+Sans:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main_div">

        <section id="title_box">
            <h1 id="page_title">Submit Your News</h1>
            <h2 id="page_subtitle">Share your story with us</h2>
        </section>

        <div id="aba1">

            <section id="aba1_title">
                <h2>First, tell us which category best fits your news:</h2>
            </section>

            <section id="aba1_checkbox">
                <label for="science">
                    <input type="checkbox" name="science" id="science">Science   
                </label>
                <label for="technology">
                    <input type="checkbox" name="technology" id="technology">Technology
                </label>
                <label for="engineering">
                    <input type="checkbox" name="engineering" id="engineering">Engineering
                </label>
                <label for="mathematics">
                    <input type="checkbox" name="mathematics" id="mathematics">Mathematics
                </label>
                <label for="opportunities">
                    <input type="checkbox" name="opportunities" id="opportunities">Opportunities
                </label>
            </section>

            <section>
                <button type="button" id="button0">Next</button><br>
                <button id="indicator1"></button>
                <button id="indicator2"></button>
                <button id="indicator3"></button>
                <button id="indicator4"></button>
            </section>

        </div>

        <div id="aba2">

            <section>
                <h2>Give us some initial details about your news:</h2>
            </section>

            <section>
                Title<br><input type="text" name="title" id="title"><br>
                Author<br><input type="text" name="author" id="author"><br>
            </section>

            <section>
                <button type="button" id="button1">Back</button>
                <button type="button" id="button2">Next</button><br>
                <button></button>
                <button></button>
                <button></button>
                <button></button>
            </section>

        </div>

        <div id="aba3">

            <section>
                <h2>Now, share the full report:</h2>
            </section>

            <section>
                Text:<br><textarea name="title" id="title"></textarea><br>
            </section>

            <section>
                <button type="button" id="button1">Back</button>
                <button type="button" id="button2">Next</button><br>
                <button></button>
                <button></button>
                <button></button>
                <button></button>
            </section>

        </div>

        <div id="aba4">

            <section>
                <h2>Include images to illustrate your news:</h2>
            </section>

            <section>
                <input type="file">
            </section>

            <section>
                <button type="button" id="button1">Back</button>
                <button type="button" id="button2">Next</button><br>
                <button></button>
                <button></button>
                <button></button>
                <button></button>
            </section>

        </div>

    </div>

</body>
</html>